doctype html
html
  head
    title= 'Coffee statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - coffee statistics
    br
    a(href='/coffee') Coffee consumption around the world
    br
    a(href='/best') The best coffee brands

    block content
